{% extends 'base.html' %}
{% load static %}

{% block title %}Scrumdiddlyumptious{% endblock %}

{% block content %}
<div class="homepage-container">
    <!-- Top Section: Full-width image with a large sign-up button -->
    <section class="hero-section">
        <div class="hero-image-container">
            <img src="{% static 'images/hero-image.jpg' %}" class="hero-image" alt="Hero Image">
            <div class="hero-overlay">
                <a href="{% url 'account_signup' %}" class="btn btn-lg btn-primary">Sign Up</a>

            </div>
        </div>
    </section>

    <!-- Bottom Section: Carousel of Random Recipes -->
    <section class="recipe-section">
        <div class="container">
            <h2 class="text-center">Discover Recipes</h2>
            <!-- Add carousel here -->
        </div>
    </section>
</div>
{% endblock %}