{% extends 'base.html' %}
{% block title %}Home{% endblock %}
{% load static %}
{% load cloudinary %}
{% load cdn %}

{% block content %}
  <!-- Hero Section -->
  <div class="hero">
    <div class="hero-content text-center">
      <h1 class="main-title">The Only Cooking App You Will Ever Need!!</h1>
      <p>
        Welcome to Scrum-diddly-umptious! Discover a world of culinary inspiration at your fingertips.
        Whether you're a seasoned chef or a kitchen novice, our site offers a diverse range of recipes
        to suit every taste and occasion. Join us to leave reviews and contribute your own delicious
        creations!
      </p>

      {% if user.is_authenticated %}
        <a class="btn btn-primary btn-lg" href="{% url 'recipes:my_recipes' %}" role="button">View My Recipes</a>
        <a class="btn btn-secondary btn-lg" href="{% url 'recipes:recipes' %}" role="button">Browse All Recipes</a>
      {% else %}
        <a class="btn btn-primary btn-lg" href="{% url 'account_signup' %}" role="button">Sign Up</a>
      {% endif %}
    </div>
  </div>

  <!-- Random Recipes Section -->
  <section class="random-recipes container my-5">
    <h2 class="section-title text-center">Some of Our Favourite Recipes</h2>
    <div class="row">
      {% for recipe in random_recipes %}
        <div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-4">
          <div class="card h-100">
            {% if recipe.image %}
            <img
                src="{{ recipe.image.url|cl_transform:'f_auto,q_auto,c_fill,g_auto,w_480,h_360' }}"
                class="card-img-top"
                width="480" height="360"
                alt="{{ recipe.image_alt|default:recipe.title }}"
                loading="lazy" decoding="async">
            {% endif %}

            <div class="card-body d-flex flex-column">
              <h5 class="card-title">{{ recipe.title }}</h5>
              <p class="card-text">{{ recipe.description|truncatechars:100 }}</p>
              <a href="{% url 'recipes:recipe_detail' recipe.pk %}" class="btn btn-primary mt-auto">View Recipe</a>
            </div>
          </div>
        </div>
      {% empty %}
        <p class="text-center">
          No recipes available yet. Start by <a href="{% url 'recipes:add_recipe' %}">adding one</a>.
        </p>
      {% endfor %}
    </div>
  </section>
{% endblock %}
