asgiref==3.8.1
blinker==1.8.2
click==8.1.7
crispy-bootstrap5==2024.2
Django==5.1.1
django-allauth==64.2.1
django-crispy-forms==2.3
django-resized==1.0.2
django-richtextfield==1.6.2
Flask==3.0.3
Flask-SQLAlchemy==3.1.1
greenlet==3.0.3
gunicorn==20.1.0
itsdangerous==2.2.0
pillow==10.4.0
psycopg2==2.9.9
SQLAlchemy==2.0.34
sqlparse==0.5.1
Werkzeug==3.0.4
whitenoise==5.3.0
