{% extends "base.html" %}

{% block title %}Edit{% endblock %}

{% block content %}

<div class="container">
    <form class="p-2 form" method="POST" enctype="multipart/form-data">
        <h1 class="text-center">Edit Recipe</h1>
        {% csrf_token %}
        {{ form.media }}
        {{ form|crispy }}
        <div class="text-center">
            <!-- Save Changes Button -->
            <button class="btn btn-primary mt-2" type="submit">Edit Recipe</button>
            <!-- Cancel Button -->
            <a href="{% url 'recipe_detail' recipe.id %}" class="btn btn-secondary mt-2 ml-2">Cancel</a>
        </div>
    </form>
</div>

{% endblock %}