{% extends "base.html" %} 

{% block title %}Recipes{% endblock %}

{% block content %} 
<h1 class="text-center p-2">Latest Recipes</h1>

<div class="container">
    <div class="row justify-content-center">
        {% for recipe in recipes %}
        <div class="col-lg-3 col-md-4 col-sm-6 col-12 mb-4">
            <div class="card h-100">
                <img src="{{ recipe.image.url }}" class="card-img-top" alt="{{ recipe.image_alt }}">
                <div class="card-body d-flex flex-column">
                    <h5 class="card-title">{{ recipe.title }}</h5>
                    <p class="card-text">{{ recipe.description|truncatechars:100 }}</p>
                    <a href="{% url 'recipe_detail' recipe.id %}" class="btn btn-primary mt-auto">View Recipe</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}
