@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&display=swap');

:root {
    /** FONTS */
    --title: 'EB Garamond', serif;
    --main-font: 'Roboto', serif;

    /* COLOURS */
    --background: #3f006a0f;
    --blue: #0d6efd;
    --black: #000;
    --off-white: #fff8e1;
    --white: #fff;
    --orange: #ffbf50;

    /* UTILS */
    --smal-box-shadow: 1px -1px 7px 0 #00000061;
    --border: 1px solid #00000030;
}

html,
body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    font-family: var(--main-font);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--title);
}

main {
    flex: 1 0 auto;
    background-color: var(--white);
}

/* FOOTER */
footer {
    flex-shrink: 0;
    background-color: var(--off-white);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-top: var(--border);

}

.social-icon {
    height: 2rem;
    margin: 1rem;

}

/* HEADER */

.navbar {
    background-color: var(--off-white);
    box-shadow: var(--smal-box-shadow);
}

a.nav-link {
    color: var(--black);
}

img.logo {
    width: 5rem;
}

.active {
    border-bottom: 2px solid var(--blue);
    font-weight: 500;
}

/* LANDING PAGE */

.homepage-container {
    width: 100%;
}

.hero-section {
    position: relative;
    height: 50vh;
    overflow: hidden;
}

.hero-image {
    width: 100%;
    height: auto;
}

.hero-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.btn-lg {
    font-size: 1.5rem;
    /* Large button */
}

/* Recipe section styling */
.recipe-section {
    padding: 20px;
}


/* FORM */

.form {
    width: 100%;
    margin: 3% auto;
    box-shadow: var(--smal-box-shadow);
    border-radius: 5px;
}

/* RECIPES  */

.card {
    height: 90%;
    margin-top: 1rem;
}

.recipes {
    text-decoration: none;
    color: var(--black);
}

.recipes:hover {
    cursor: pointer;
}

.recipe-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.recipe-container {
    display: flex;
    flex-direction: column;
}

.ingredients,
.instructions,
.recipe-detail {
    width: 100%;
}

.recipe-img {
    display: flex;
    justify-content: center;
    align-items: center;
}

.recipe-pic {
    width: 100%;
    height: auto;
}

@media screen and (min-width: 62.5em) {
    .recipe-info {
        flex-direction: row;
        border: 1px solid var(--black);
    }

    .recipe-img {
        width: 40%;
        margin: 0 auto;
    }

    .recipe-detail {
        width: 60%;
        padding: 2rem;
    }

    .recipe-container {
        flex-direction: row;
    }

    .ingredients {
        width: 33.33%;
    }

    .instructions {
        width: 66.66%;
    }
}