{% load static %}
<footer class="text-center py-3 bg-light">
    <!-- SOCIAL MEDIA ICONS -->
    <div class="mb-3">
        <a href="https://www.linkedin.com/"
           target="_blank"
           rel="noopener"
           aria-label="LinkedIn - opens in a new tab">
            <img src="{% static 'icons/linkedin.svg' %}"
                 alt="LinkedIn Icon"
                 class="social-icon">
        </a>
        <a href="https://github.com/"
           target="_blank"
           rel="noopener"
           aria-label="GitHub - opens in a new tab">
            <img src="{% static 'icons/github.svg' %}"
                 alt="GitHub Icon"
                 class="social-icon">
        </a>
        <a href="https://www.instagram.com/"
           target="_blank"
           rel="noopener"
           aria-label="Instagram - opens in a new tab">
            <img src="{% static 'icons/instagram.svg' %}"
                 alt="Instagram Icon"
                 class="social-icon">
        </a>
        <a href="https://x.com/?lang=en"
           target="_blank"
           rel="noopener"
           aria-label="Twitter - opens in a new tab">
            <img src="{% static 'icons/square-x-twitter-brands-solid.svg' %}"
                 alt="Twitter Icon"
                 class="social-icon">
        </a>
        <a href="https://www.youtube.com/"
           target="_blank"
           rel="noopener"
           aria-label="YouTube - opens in a new tab">
            <img src="{% static 'icons/youtube.svg' %}"
                 alt="YouTube Icon"
                 class="social-icon">
        </a>
    </div>
    <!-- COPYRIGHT -->
    <p class="mb-0" style="font-family: 'Lato', sans-serif;">&copy; 2024 Scrumdiddlyumptious</p>
</footer>
