{% load static %}

<footer>
    <!-- SOCIAL MEDIA ICONS-->
     <a href="http://www.LinkedIn.com" target="_blank" rel="noopener" aria-label="LinkedIn - opens in a new tab">
      <img src="{% static '/icons/linkedin.svg' %}" alt="LinkedIn Icon" class="social-icon">
     </a>
     <a href="http://www.github.com" target="_blank" rel="noopener" aria-label="GitHub - opens in a new tab">
        <img src="{% static '/icons/github.svg' %}" alt="GitHub Icon" class="social-icon">
     </a>
     <a href="http://www.instagram.com" target="_blank" rel="noopener" aria-label="Instagram - opens in a new tab">
        <img src="{% static '/icons/instagram.svg' %}" alt="Instagram Icon" class="social-icon">
     </a>
     <a href="http://www.twitter.com" target="_blank" rel="noopener" aria-label="Twitter - opens in a new tab">
        <img src="{% static '/icons/twitter.svg' %}" alt="Twitter Icon" class="social-icon">
     </a>
     <a href="https://www.YouTube.com" target="_blank" rel="noopener" aria-label="YouTube - opens in a new tab">
        <img src="{% static '/icons/youtube.svg' %}" alt="YouTube Icon" class="social-icon">
     </a>
     <a href="https://www.facebook.com" target="_blank" rel="noopener" aria-label="YouTube - opens in a new tab">
      <img src="{% static '/icons/facebook-brands-solid.svg' %}" alt="YouTube Icon" class="social-icon">
   </a>
<br>
     <p class="copyright">&copy; 2024 Scrumdiddlyumptious</p>

</footer>